 body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

header {
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
}

nav {
  background-color: #444;
  color: #fff;
  padding: 10px;
  text-align: center;
 
}
nav ul{
  list-style: none;
  display: flex;
  justify-content: space-evenly;
}
nav ul li a{
  color:inherit;
  text-decoration: none;

}
a:hover{
  text-decoration: underline;
}


section {
  padding: 20px;
}

article {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 15px;
  margin-bottom: 20px;
}

aside {
  background-color: #f4f4f4;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 15px;
  margin-bottom: 20px;
  
}

footer {
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
} 
.menu ::before{
  font-family: 'Material Icons';
  font-size: 1.5em;
  float: left;
  clear: left;
}
.menu label::before{ content: '\e5d2'; }
.menu li:nth-child(1) a::before{ content: '\f02e'; }
.menu li:nth-child(2) a::before{ content: '\e8d6'; }
.menu li:nth-child(3) a::before{ content: '\e88a'; }
.menu li:nth-child(4) a::before{ content: '\e8cc'; }
.menu li:nth-child(5) a::before{ content: '\e87d'; }
.menu li:nth-child(6) a::before{ content: '\e8b8'; }

#expand-menu { /* 체크박스 폼 요소 감춤 */
  display: none;
}
#expand-menu:checked ~ ul { /* 체크박스 체크되었으면 메뉴 목록 표시 - 반응형 표시용 */
  display: block;
  height: auto;
}

.menu {
  position: sticky;
  top: 50%;
  
  display: block;
  width: 200px;
  background-color: #000;
  color: #fff;
  border-radius: 20px;
  padding: 10px;
  box-sizing: border-box;
  overflow: hidden; /* 반응형 애니메이션용 */
  transition: all 0.5s ease; /* 반응형 애니메이션 */
}
.menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.menu a, .menu > label {
  display: block;
  height: 25px;
  padding: 8px;
  cursor: pointer;
  color: #fff;
  text-decoration: none;
}

.menu a:hover {
  color: #000;
}
.menu ul li:hover, .menu > label:hover {
  background-color: #fff;
  color: #000;
  border-radius: 10px;
}
.menu div {
  
  line-height: 1.5;
  font-size: 1em;
  font-family: 'Noto Sans KR';
  padding: 0 0 0 50px; /* 아이콘과 텍스트 사이 여백 */
}
